In [2]:
import pandas as pd
import numpy as np
import os
import re
import matplotlib.pyplot as plt
import seaborn as sns

# To show plots inline in the notebook
%matplotlib inline

In [23]:
file_path = '../Datasets/dim_campaigns.csv'

df = pd.read_csv(file_path)
df.head()

   campaign_id campaign_name  start_date    end_date
0  CAMP_DIW_01        Diwali  12-11-2023  18-11-2023
1  CAMP_SAN_01     Sankranti  10-01-2024  16-01-2024

In [24]:
df.isnull().sum()

campaign_id      0
campaign_name    0
start_date       0
end_date         0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    2 non-null      object
 1   campaign_name  2 non-null      object
 2   start_date     2 non-null      object
 3   end_date       2 non-null      object
dtypes: object(4)
memory usage: 196.0+ bytes

In [26]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

In [27]:
df.to_csv('../Datasets/Processed Datasets/dim_campaigns.csv', index=False)

In [28]:
file_path = '../Datasets/dim_products.csv'

df = pd.read_csv(file_path)
df.head()

  product_code                     product_name           category
0          P01           Atliq_Masoor_Dal (1KG)  Grocery & Staples
1          P02     Atliq_Sonamasuri_Rice (10KG)  Grocery & Staples
2          P03          Atliq_Suflower_Oil (1L)  Grocery & Staples
3          P04     Atliq_Farm_Chakki_Atta (1KG)  Grocery & Staples
4          P05  Atliq_Scrub_Sponge_For_Dishwash          Home Care

In [29]:
df.isnull().sum()

product_code    0
product_name    0
category        0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_code  15 non-null     object
 1   product_name  15 non-null     object
 2   category      15 non-null     object
dtypes: object(3)
memory usage: 492.0+ bytes

In [31]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

In [32]:
df.head()

  product_code                     product_name           category
0          P01           Atliq_Masoor_Dal (1KG)  Grocery & Staples
1          P02     Atliq_Sonamasuri_Rice (10KG)  Grocery & Staples
2          P03          Atliq_Suflower_Oil (1L)  Grocery & Staples
3          P04     Atliq_Farm_Chakki_Atta (1KG)  Grocery & Staples
4          P05  Atliq_Scrub_Sponge_For_Dishwash          Home Care

In [33]:
df.to_csv('../Datasets/Processed Datasets/dim_products.csv', index=False)

In [34]:
file_path = '../Datasets/dim_stores.csv'

df = pd.read_csv(file_path)
df.head()

  store_id           city
0  STTRV-0     Trivandrum
1  STMDU-3        Madurai
2  STHYD-6      Hyderabad
3  STVSK-1  Visakhapatnam
4  STCBE-3     Coimbatore

In [36]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

In [37]:
df.head()

  store_id           city
0  STTRV-0     Trivandrum
1  STMDU-3        Madurai
2  STHYD-6      Hyderabad
3  STVSK-1  Visakhapatnam
4  STCBE-3     Coimbatore

In [39]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store_id  50 non-null     object
 1   city      50 non-null     object
dtypes: object(2)
memory usage: 932.0+ bytes

Index(['store_id', 'city'], dtype='object')

In [40]:
df.to_csv('../Datasets/Processed Datasets/dim_stores.csv', index=False)

In [41]:
file_path = '../Datasets/fact_events.csv'

df = pd.read_csv(file_path)
df.head()

,event_id,store_id,campaign_id,product_code,base_price,promo_type,quantity_sold(before_promo),quantity_sold(after_promo)
0,7f650b,STCBE-2,CAMP_SAN_01,P11,190,50% OFF,34,52
1,a21f91,STBLR-8,CAMP_DIW_01,P03,156,25% OFF,393,322
2,78bc80,STVJD-0,CAMP_SAN_01,P07,300,BOGOF,22,85
3,a1503f,STCBE-1,CAMP_DIW_01,P15,3000,500 Cashback,329,1000
4,1091cf,STBLR-6,CAMP_DIW_01,P05,55,25% OFF,108,93

In [42]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

In [43]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   event_id                     1500 non-null   object
 1   store_id                     1500 non-null   object
 2   campaign_id                  1500 non-null   object
 3   product_code                 1500 non-null   object
 4   base_price                   1500 non-null   int64
 5   promo_type                   1500 non-null   object
 6   quantity_sold(before_promo)  1500 non-null   int64
 7   quantity_sold(after_promo)   1500 non-null   int64
dtypes: int64(3), object(5)
memory usage: 93.9+ KB

Index(['event_id', 'store_id', 'campaign_id', 'product_code', 'base_price',
       'promo_type', 'quantity_sold(before_promo)',
       'quantity_sold(after_promo)'],
      dtype='object')

In [44]:
df['quantity_lift'] = df['quantity_sold(after_promo)'] - df['quantity_sold(before_promo)']

In [50]:
df['quantity_lift_pct'] = ((df['quantity_lift']/df['quantity_sold(before_promo)'])*100).round(2)

In [52]:
df['revenue_before_promo'] = df['base_price'] * df['quantity_sold(before_promo)']

In [54]:
df['promo_type'].unique()

array(['50% OFF', '25% OFF', 'BOGOF', '500 Cashback', '33% OFF'],
      dtype=object)

In [63]:
def get_discounted_price(row):
    if row['promo_type'] == '50% OFF':
        return row['base_price']*0.5
    elif row['promo_type'] == '25% OFF':
        return row['base_price']*0.75
    elif row['promo_type'] == '33% OFF':
        return row['base_price']*0.67
    elif row['promo_type'] == 'BOGOF':
        return row['base_price']/2
    elif row['promo_type'] == '500 Cashback':
        return row['base_price']-500
    else:
        return row['base_price']

In [64]:
df['discounted_price'] = df.apply(get_discounted_price, axis=1)

In [66]:
df['revenue_after_promo'] = df['discounted_price']*df['quantity_sold(after_promo)']

In [68]:
df['promo_effectiveness'] = df['revenue_after_promo'] - df['revenue_before_promo']

In [72]:
df['is_successful_promo'] = df['promo_effectiveness'].apply(lambda x: 'Successful' if x > 0 else 'Unsuccessful')

In [74]:
df['event_id'] = df['event_id'].str.strip()

In [75]:
df.head()

,event_id,store_id,campaign_id,product_code,base_price,promo_type,quantity_sold(before_promo),quantity_sold(after_promo),quantity_lift,quantity_lift_pct,revenue_before_promo,discounted_price,revenue_after_promo,promo_effectiveness,is_successful_promo
0,7f650b,STCBE-2,CAMP_SAN_01,P11,190,50% OFF,34,52,18,52.94,6460,95.00,4940.00,-1520.00,Unsuccessful
1,a21f91,STBLR-8,CAMP_DIW_01,P03,156,25% OFF,393,322,-71,-18.07,61308,117.00,37674.00,-23634.00,Unsuccessful
2,78bc80,STVJD-0,CAMP_SAN_01,P07,300,BOGOF,22,85,63,286.36,6600,150.00,12750.00,6150.00,Successful
3,a1503f,STCBE-1,CAMP_DIW_01,P15,3000,500 Cashback,329,1000,671,203.95,987000,2500.00,2500000.00,1513000.00,Successful
4,1091cf,STBLR-6,CAMP_DIW_01,P05,55,25% OFF,108,93,-15,-13.89,5940,41.25,3836.25,-2103.75,Unsuccessful

In [81]:
df.to_csv('../Datasets/Processed Datasets/fact_events.csv', index=False)